name: GoReleaser
on:
  release:
    types: [ published ]
  workflow_dispatch:
  workflow_run:
    workflows: [Releaser]
    types: [completed]
jobs:
  bin-releaser:
    name: Release Binaries
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.22.x"
      - name: Release Binaries
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
